.vapor_hero_container {
  background: #000;
  display: flex;
  height: 4825px;
  position: relative;
  z-index: 1;
  width: 100%;
  overflow: 'scroll'
}
.vapors {
  width: 100vw;
  height:100vh;
  overflow: auto;
}

.vapor_video {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

/* .vapor_video_left {
  flex: 0.4;
}
.vapor_video_right {
  flex: 0.6;
} */

.vapor_hero_content {
  z-index: 3;
  max-width: 1200px;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.vapor__header-content {
  margin-top: 125px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 5rem;
  max-width: 800px;
}

.vapor__header-content h1 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 60px;
  line-height: 75px;
  letter-spacing: -0.04em;
}

.vapor__header-content p {
  font-family: var(--font-family);
  color: var(--color-text);
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.7);
}

.vapor__header-content__input {
  margin: 2rem 0;
}

@media screen and (max-width: 1050px) {
  .vapor_video_left {
    flex: 0;
  }
  .vapor_video_right {
    flex: 1;
  }
  .vapor__header-content {
    margin-right: 0;
  }
}

@media screen and (max-width: 780px) {
  .vapor__header-content h1 {
    font-size: 50px;
    line-height: 65px;
  }

  .vapor__header-content p {
    font-size: 15px;
  }
}

@media screen and (max-width: 600px) {
  .vapor__header-content h1 {
    font-size: 40px;
    line-height: 55px;
  }

  .vapor__header-content p {
    font-size: 15px;
  }
}

@media screen and (max-width: 450px) {
  .vapor__header-content h1 {
    font-size: 30px;
    line-height: 45px;
  }

  .vapor__header-content p {
    font-size: 15px;
  }
}

@media screen and (max-width: 370px) {
  .vapor__header-content p {
    font-size: 13px;
  }
}
.experience-item {
  position: absolute;
}
.div1 {
  background-color: red;
  height: 400px;
  width: 100%;
}

.div2 {
  background-color: green;
  height: 400px;
  width: 100%;
}

.div3 {
  background-color: blue;
  height: 400px;
  width: 100%;
}
.topSpacing {
  height: 500px;
  margin: 10%;
  font-size: 40px;
  background-color: grey;
}
.floattext {
  position: relative;
  left: 2000px;
}

.scroll {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  user-select: none;
  overflow: hidden;
}

#root {
  overflow: hidden;
}

.scroll {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 300px;
  overflow-y: auto;
  scroll-snap-type: y proximity;
  z-index: 0 !important;
}

.scroll > div {
  scroll-snap-align: start;
}
.caption {
  pointer-events: none;
  position: fixed;
  top: 0;
  right: 0;
  margin: 80px;
  color: white;
  font-size: 8em;
  font-weight: 100;
  line-height: 1em;
  font-variant-numeric: tabular-nums;
  -webkit-font-smoothing: auto;
}

.dot {
  pointer-events: none;
  position: sticky;
  top: 0px;
  display: inline-block;
  max-width: 600px;
  padding: 0;
  padding: 80px;
  color: #a0a0a0;
  line-height: 1.6em;
  font-size: 9px;
  letter-spacing: 1.5px;
  text-align: left;
}

.dot > h3 {
  -webkit-font-smoothing: auto;
  pointer-events: none;
  color: white;
  font-size: 2em;
  font-weight: 100;
  line-height: 1em;
  margin: 0;
  margin-bottom: 0.25em;
}

@media only screen and (max-width: 1000px) {
  .caption {
    font-size: 4em;
  }
}

@media only screen and (max-width: 800px) {
  .caption {
    font-size: 3em;
  }
  .dot > h3 {
    font-size: 3em;
  }
}

@media only screen and (max-width: 700px) {
  .caption {
    font-size: 2em;
  }
  .dot > h3 {
    font-size: 3em;
  }
}

@media only screen and (max-width: 600px) {
  .caption {
    font-size: 1em;
  }
  .dot > h1 {
    font-size: 3em;
  }
}
canvas {
  z-index: 1!important;
  /* pointer-events:auto; */
}
.ghost {
  width: 100%;
  position: absolute;
  /* overflow: hidden; */
  top: 300px;
}
.texteffectRight {
  position: fixed;
  top: 35%;
}

.texteffectLeft {
  position: fixed;
  top: 35%;
  right: 0;
}
/* .texteffectLeft {
  position: fixed;
  top: 45%;
  right: 0;
} */
/* .texteffectRightdelay {
  position: fixed;
  top: 45%;
}
.texteffectLeftdelay {
  position: fixed;
  top: 45%;
  right: 0;
} */

.canvas-above {
  width: 100%;
  z-index: 9!important;
}
