.section__padding {
  /* padding: 0 4rem; */
  /* max-width: 1440px; */
  /* margin: 0 auto; */
  margin-top: 0!important;
}

@media screen and (max-width: 1000px) {
  .section__padding {
    padding: 0 3rem;
  }
}

@media screen and (max-width: 550px) {
  .section__padding {
    padding: 0 2rem;
  }
}
