.Navbar {
  height: 80px;
  display: flex;
  align-items: center;
  width: 100%;
}
.NavbarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
.NavbarLeft {
  /* width: 38%; */
}
.vapor__navbar-links_logo {
  margin-right: 2rem;
}

.vapor_logo_video {
  max-width: 250px;
  max-height: 80px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.vapor__navbar-links_logo img {
  width: 134.87px;
  height: 32px;
}
.NavbarRight {
  display: flex;
  justify-content: flex-end;
  width: 58%;
  align-items: center;
}
.NavbarMenuBtn {
  cursor: pointer;
}
.NavLink {
  list-style: none;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 16px;
  margin: 0px 1rem;
}
.activeClassName {
  color: aliceblue;
  background: red;
  text-shadow: 0px 0px 8px rgb(255, 255, 255);
}

.nav-big-button {
  border: 1px solid #fff;
  padding: 10px 18px;
  border-radius: 30px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

.margin-x-1 {
  margin: 0 1rem;
}

.margin-l-1 {
  margin-left: 1rem;
}

@media (max-width: 879px) {
  .NavbarCenter {
    display: none;
  }
  .NavbarRight {
    display: none;
  }
  .NavbarLeft {
    /* width: 50%; */
  }
}

@media (min-width: 880px) {
  .NavbarMenuBtn {
    display: none;
  }
}
