.bottom-text-container {
  display: flex;
  align-items: center;
}

.bottom-text-link {
  font-weight: bold;
  margin-left: 2rem;
}

@media screen and (max-width: 750px) {
  .bottom-text-container {
    display: inline;
  }
  .bottom-text-link {
    margin-left: 1rem;
  }
}
